<div class="home-hero">
  <img src="/assets/images/logo.svg" alt="logo" class="top-logo">

  <div class="hero-content">
    <h1 class="hero-title">Collect Feedback,<br>Unlock Ideas</h1>
    <p class="hero-sub">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
    <button class="btn-new">New survey</button>
  </div>

  <div class="hero-art">
    <div class="hero-art-image">
      <img src="/assets/images/logo_first.svg" alt="art" class="first">
      <img src="/assets/images/logo_hover_last.svg" alt="art hover last" class="hover-last">
    </div>
  </div>
</div>

<section class="surveys">
  <div class="surveys-header">
    <h2 class="section-title">Your surveys</h2>
    <h3 class="section-subtitle">Ending soon</h3>
  </div>

  <div class="card-row">
    <a class="big-card-light" *ngFor="let s of surveys" [routerLink]="['/survey', s.id]">
      <div class="card-content">
        <div class="card-category">{{ s.category }}</div>
        <h3 class="card-title">{{ s.title }}</h3>
      </div>
      <div class="card-footer">{{ s.endsIn }}</div>
    </a>
  </div>

  <div class="list-row">
    <a class="big-card-dark" *ngFor="let s of surveys" [routerLink]="['/survey', s.id]">
      <div class="card-content">
        <div class="card-category">{{ s.category }}</div>
        <h3 class="card-title">{{ s.title }}</h3>
        <p class="card-description">{{ s.description }}</p>
      </div>
      <div class="card-footer">{{ s.endsIn }}</div>
    </a>
  </div>
</section>
